h1{     
    color:peru;
    background-color: darkslateblue;
    font-family: 'Gajraj One', cursive;
    text-align: center;}
h2{color:darkblue; 
    font-family: 'Gajraj One', cursive;
text-align: center;}
h3{color:orangered;
    font-family: 'Gajraj One', cursive;
    text-align: center;}
h4{color: purple;
    font-family: 'Gajraj One', cursive;
    text-align: center;}
    body{ background-color: rgba(0, 0, 0, 0.973);}
   